:root {
    --primary-color: #3B3B3B; 
    --secondary-color: #E5D4C3; 
    --text-color: #2F2F2F; 
    --accent-color: #A67C52; 
    --font-family: 'Courier New', monospace;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent-color);
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: white;
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 5px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

figure img {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

figure img:hover {
    transform: scale(1.05);
    filter: sepia(20%);
}

h2::before {
    content: "🛍️ ";
    color: var(--accent-color);
}

h2::after {
    content: " 🏷️";
    color: var(--accent-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    figure {
        flex-direction: column;
    }

    figure img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }
}
